@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Raleway", sans-serif;
}

body{
    margin: 0px auto;
    background-color: #f3f3f3;
}

/*container du body*/
#container{
    width: 1160px;
    margin: auto;
    background-color: #ffffff;
}

/*container du main*/
#main__container{
    display: flex;
    width: 100%;
}

/* mise en page du header */
header{
    display: flex;
    justify-content: center;
    background-color: #17abb3;
    color: #ffffff;
}

img{
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin-top: 40px;
    margin-left: 60px;
}

#picture{
    width: 350px;
    height: 230px;
    
}

#header__title{
    width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


a{
    text-decoration: none;
    color: #ffffff;
}
#contact{
    list-style: none;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    gap: 10px;
    padding-top: 10px
}

i{
    margin-right: 10px;
}

h1{
    font-size:300%;
    padding-top: 30px;
}

h2{
    padding-top: 10px;
}

h1, h2, h3{
    font-family: "Lato", sans-serif;
    margin: 0%;
}

/*mise en page du mainsection*/

#main__section{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

h3{
    color: #17abb3 ;
    padding-top: 20px;
    font-size: larger;
}

#profile{
    text-indent: 3%;
    text-align: justify;
}

.career{
    text-align: start;
}

strong{
    font-size: small;
}

em{
    font-size: smaller;
}

.dates{
    text-align: end;
    color: #17abb3;
}

td{
    width: 450px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#last__table{
    padding-bottom: 70px;
}

/* mise en page du skillsection*/

#skillsection__container{
    background-color: #e3e3e3;
    width: 360px;
}

#skillsection{
    width: 250px;
    margin-top: 30px; 
    margin-left: 50px;
}

.stars{
    color: #17abb3;
    font-size: small;
    text-align: right;
    word-spacing: -40px;
    
}

th{
    text-align: left;
}

.lang{
    text-align: right;
}

.about__me{
    list-style: square ;
    
}

ul li::marker{
    color: #17abb3;
    font-size: x-large;

}

